export BOT_PAGEACCESSTOKEN="EAAXu4QafGd8BABKOod5ZBSrx5LOzzlJhZC4e5OOtzEOwSxUvZAYOy637PWZCAt29lDzzycTT7JtpL0SMMPqv2mym1bdXS7CMq3e4g4CAvrVPF20CN6Gbldgtbk3OjHSZCdZBU7zNREWNuYHfnJNaEWBVmreskxgNIyKbgSvhjRYUOmgG96T0TG"
export BOT_VERIFYTOKEN="neitteiv1234"
export BOT_PORT=2102
export DB_NAME="recordchatbotB"
export DB_USER="root"
export DB_PASS="or64SUAnd31R"
export CONSTANT_MAXSAMPLE=180
export CONSTANT_MAXINNING=5
export THUNGHIEM_TN=5
export URL_URL="https://www.youtube.com/watch?v=M-TQWusKM3w"

